<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{fontName}}</title>
    <link ref="stylesheet" href="suitepicon.css">
    <link ref="stylesheet" href="suitepicon/suitepicon.css">
    <style>

        @font-face {
            font-family: "suitepicon";
            src: url("suitepicon/suitepicon.eot?#iefix") format("embedded-opentype"),
            url("suitepicon/suitepicon.woff") format("woff"),
            url("suitepicon/suitepicon.ttf") format("truetype"),
            url("suitepicon/suitepicon.svg#suitepicon") format("svg");
        }

        i {
            line-height: 1;
        }

        i:before {
            font-family: suitepicon !important;
            font-style: normal;
            font-weight: normal !important;
            vertical-align: top;
        }
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 10px 20px;
        }
        .preview {
            line-height: 2em;
        }
        .preview__icon {
            display: inline-block;
            width: 64px;
            text-align: center;
        }
        .icon {
            display: inline-block;
            font-size: 16px;
        }

        {{#each codepoints}}
        {{../classPrefix}}{{@key}}:before {
            content: "\\{{this}}
            }
        {{/each}}

    </style>
</head>
<body>
<h1>{{fontName}}</h1>
{{#each names}}
    <div class="preview">
		<span class="preview__icon">
			<span class="{{../baseClass}} {{../classPrefix}}{{this}}"></span>
		</span>
        <span>{{this}}</span>
    </div>
{{/each}}
</body>
</html>
